{% extends 'non_registered_user/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" href="{%static "non_registered_user\style\navbar.css"%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block bodyblock %}
<div class="navbar">
            <div class="nav-link" id="myTopnav">
                <ul>
                    <a href="{%url 'index'%}">
                        <li class="nav active">HOME</li>
                    </a>
                    <a href="#">
                        <li class="nav">ABOUT US</li>
                    </a>
                    <a href="#">
                        <li class="nav">WHY US?</li>
                    </a>
                    <a href="{%url 'contactus'%}">
                        <li class="nav">CONTACT US</li>
                    </a>
                    {% if user.is_authenticated %}
                       <a href="{%url 'userprofile'%}">
                       <li class='nav'>{{user.username}} PROFILE</li>
                       </a>
                       <a href="{%url 'interest'%}">
                       <li class='nav'>INTERESTS</li>
                       </a>
                       
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    				<i class="fa fa-bars"></i>
 					 </a>

                        <li class="dropdown">
                        <a  class="dropbtn">Manage Account</a>
                        <div class="dropdown-content">
                        <a href="{%url 'userprofile'%}">Show Profile</a>
                        <a href="{%url 'accountsetting'%}">Account Setting</a>
                        <a href="{%url 'logout'%}">Log out</a>
                        </div>
                    </li>  
                    {% else %}
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    				<i class="fa fa-bars"></i>
 					 </a>
                   <a href="{%url 'login'%}"><button id="btn-login">Log In</button></a>
                   <a href="{%url 'registeruser'%}"><button id="btn-reg">Register</button></a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav-link") {
    x.className += " responsive";
  } else {
    x.className = "nav-link";
  }
}
</script>
{% endblock  %}