.mainbody{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 20vh; 
    margin-bottom: 35vh; 
    margin-left: 20px;
  }
  
  .month{
    padding: 2% 8.5% 2% 8.5%;
    border: 2px solid black;
  
   }
  
  #btn-pay{
    
      background-color: rgb(240, 240, 6);
      color: black;
      border: none;
      padding: 10px 20px;
      border-radius: 12px;
      cursor: pointer;
      transition: 0.5s;
      margin-left: 20px;
      margin-top: 30px;
  }
  
  #btn-pay:hover{
      background-color: black;
      cursor: pointer;
      border: 2px solid black;
      text-decoration: none;
      color: #fff;
  }