.Mainbody{
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    height: 78vh;
    grid-template-areas: "filter Result";
}

.filter{

    margin-left: 10px;
}

.Result{
    margin-left: 30px;
    margin-right: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#searchbar{
  width: 50%;
  margin-left: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/static/registered_user/images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#searchbar:focus {
    width: 97.3%;
  }

.dbresult{
    display: flex;
    margin-left:50px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 90%;
    height: 20vh;
    border-radius: 12px;
    
}
img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transform: scale(1.03);
}
#blurimg{
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 8px -10px -10px -5px;

}

#userpicblur{
    width: 25%;
    border-right: 1px solid black;
    margin-right: 50px;
    filter: blur(10px);
    overflow: hidden;
    
}

#userpic{
    width: 25%;
    border-right: 1px solid black;
    margin-right: 50px;
}

p{
    margin-bottom: 15px;
    
}
span{

    margin-right: 30px;
}

label{
    margin-right: 5px;
    font-weight: bold;
}

#userdata{
    
    width: 70%;
    display: flex;
    flex-direction: row;
}

#lefthalf{
    margin-top: 15px;
    text-decoration: underline;
    
}
#righthalf{
    margin-top: 15px;
    margin-left: 20%;
    text-decoration: underline;
}
  
#noresult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:80px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
    font-weight: bolder;
    width: 70%;
}

#noresult p{
    margin-top: 20px;
}
#noresult ul{
    margin-bottom: 20px;
}

#page{

    text-align: center;
}

#pagenav {
  display: inline-block;
}
#pagenav a.active {
    background-color: yellow;
    color: black;
    border: 1px solid #ddd;
  }
  


#pagenav a {
  color:#ddd;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  background-color: black;
}

#pagenav  a:hover:not(.active) {background-color:yellow;color: black;}


#btn-showprofile{
    margin-top: -5px;
    background-color: rgb(240, 240, 6);
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

#btn-showprofile:hover{
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
    color: #fff;
}

#btn-interest{
    margin-top: -5px;
    background-color: rgb(240, 240, 6);
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    
}

#btn-interest:hover{
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
    color: #fff;
}

.filterbody{
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
  }
  
  .filterform{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .leftsidefilter,.rightsidefilter{
    display: flex;
    flex-direction: column;
  }
  
  
  .leftsidefilter label{
    margin-bottom: 30px;
  }
  
  .age{
    margin-bottom: 13px;
  }
  
  #salary,#caste,#religion,#state{
    margin-bottom: 25px;
    width: 80%;
    padding-bottom: 3px;
    margin-left: 5px;
  }
  
  .gender{
   
    margin-bottom: 30px;
  }
  
  .leftsidefilter{
    margin-right: 10px;
    margin-left: 10px;
    width: 30%;
  }
  
  .age input{
    width: 20%;
    margin-right: 10px;
  }
  
  #filterbtn{
    margin-left: 30%;
  }
  
  #filterbtn{
     background-color: rgb(240, 240, 6);
        color: black;
        border: none;
        padding: 10px 20px;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s;
    }
  
    #filterbtn:hover{
        background-color: black;
        cursor: pointer;
        border: 2px solid black;
        text-decoration: none;
        color: #fff;
    }
  
  
  ::-webkit-input-placeholder { /* Edge */
    color: grey;
    font-family: sans-serif;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: grey;
    font-family: sans-serif;
  }
  
  ::placeholder {
    color: grey;
    font-family: sans-serif;
  }