body{
	background:url("/static/registered_user/images/bg.jpg");
	
  overflow: auto;
}
#container{
	width:26%;
	margin-left: 60%;
	border-radius: 25px;
	background-color: rgba(44,62,80,0.7);
	height: 500px;
	
    box-sizing: border-box;
}
label{
	color: #FFFFFF;
	
	margin:1% 1% 0 1%;
	font-weight: bold;
}
label input[type="radio"]{
	margin-left: 15px;
}
#emailid{
	border: none;
	outline: none;
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}
#password{
	border: none;
	outline: none;
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}
#register{
	margin-top: 10%;
	margin-left: 5%;
}
.next{
	margin-top: 10%;
	width: 50%;
	height: 30px;
	display: grid;
	background: yellow;
	border: none;
	outline: none;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 1%;
	border-radius: 25px;
	font-size: 1em;
	
}
.next:hover{
	cursor: pointer;
	background: white;
	background: #fb2525;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	cursor: pointer;
	background: white;
	background: #fb2525;
}
#profile{
	
	height: 30px;
	border:#fb2525;
	background: white;
}
.active{
	background: #FFFFFF;
	color: skyblue;
}
.mobile{
	border: none;
	outline: none;
	background: transparent;
	margin:1%;
	color: #fff;
	width: 85%;
	font-size: 15px;
	border-bottom: 1px solid #fff;

}
.username{
	border: none;
	outline: none;
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 15px;
	border-bottom: 1px solid #fff;
}